.headerbar {
    box-sizing: border-box;
    background-color:grey;
    opacity: 1;
    margin-bottom: 15px;
    height: 90px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    text-decoration: none;

    /* Opacity */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    /* Opacity END */
}

.headerbar a {
    color: black;
    float: left;
    display: block;
    
    text-align: center;
    text-decoration: none;
    padding: 2px;
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 2px;
    height: 65px;
    margin: 10px;
}

.headerbar a h2 {
    font-size: 3.5rem;
}

.headerbar a:hover h1 {
    color: white;
}

.headerbar h2 a:hover {
    border: solid white;
}

#headertitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
}

#headertitlebold {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.headerbar-right nav {
    height: 0;
}

.headerbar-right {
    float: right;
}

.headerbar-right ul {
    list-style-type: none;
    margin: 0px;
    padding: 8px;
}
.headerbar-right li {
    float: left;
}

.headerbar-right li a {
    display: inline;
    margin-top: 0;
    position: relative;
    top: 10px;
    height: 47px;
}

.headerbar-right li a:hover {
    display: inline;
    border: solid white;
}

.lastblog {
    border: solid black;
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: scroll;
    max-height: 80rem;
}
.date {
    text-align: right;
}

.blog {
    border: solid black;
    padding: 2%;
    margin-bottom: 20px;
    position: relative;
    top: 15px;
}

.container {
    position: relative;
    top: 150px;
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Wishlist Blog CSS */

.featurelist {
    display: flex;
    flex: wrap;
}

.feature {
    max-width: 40%;
    padding: 5%;
}

.featurelink {
    text-decoration: none;
    color: black;
    text-align: center;
}

.featureimage {
    max-width: 100%;
    padding-bottom: 15px;
}

#extrafeatures {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exampleimage {
width: 90%;
max-width: 849px;
display: block;
margin: 1%;
margin-top: 3%;
margin-left: auto;
margin-right: auto;
}

/* Wishlist Blog CSS END */
/* T3 Blog */

.wireframes {
    display: flex;
    width: 100%;
}


.wireframesimg {
    max-width: 100%;
    width: -webkit-fill-available;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    padding-left: 0px;
    padding-right: 20px;
    float: left;
}

/* T3 Blog END */