body {
    margin: 0px;
    /*max-width: 100%;*/
}

h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 2.7em; 
    font-weight: lighter;
    color:  #262626;
}

h2 {
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color:  #333333;
}

h3 {
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color:  #333333;
}

h4 {
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    font-size: 1.6em;
    color:  #333333;
}

h5 {
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    color:  #333333;
}

p {
    font-family: "Helvetica Neue", sans-serif;
    color: #000000;
}

a:link {
    font-family: "Helvetica Neue", sans-serif;
    color: #262626;
    text-decoration: none;
}

a:visited {
    font-family: "Helvetica Neue", sans-serif;
    color: #333333;
    text-decoration: none;
}

a:hover {
    font-family: "Helvetica Neue", sans-serif;
    color: #00004d;
    text-decoration: none;
}

a:active {
    font-family: "Helvetica Neue", sans-serif;
    color: #262626;
    text-decoration: none;
}

.header {
    background-color: darkgray;

    padding: 15px;
    padding-left: 4%;
    max-height: 50px;

    font-family: "Gill Sans", sans-serif;
    font-size: 2.5em; 
    font-weight: lighter;
    color:  #262626;
}

.sitelink {
    padding: 1%;
}

.content {
    margin: 5%;
    margin-top: 60px;
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
}



/* New Features- CSS section */

.featurelist {
    display: -webkit-flex;
    display: flex;
}

.feature {
    
    max-width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    
}

.featureimage {
    max-width: 400px;
    width: 100%;
}

.featuredescription {
    margin: 2%;
}

.featuretext {
    margin-left: 2%;
}

.featurelink {
    margin: 2%;
    text-align: center;
}

.smallnote {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* New Features- CSS section END */

/* Blog Content */

.blog {
    margin-top: 60px;
}

.exampleimage {
    width: 90%;
    max-width: 849px;
}

/* Blog Content END */



    
    